<sly data-sly-use.info="com.adobe.aem.guides.wknd.core.pojo.Valores" />
<sly data-sly-use.pojomulti="com.adobe.aem.guides.wknd.core.pojo.MultifieldHeaderWcm" />
<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
					
		
					
						<div class="col-lg-3  col-md-12">
							<div class="single-footer-widget">
								<h6>${properties.text}</h6>
								<ul data-sly-list.multifield="${pojomulti.items}" >
									<li style="color:white;" >${multifield} </li>
									
									
									
								</ul>
							</div>
						</div>
						<div class="col-lg-6  col-md-12">
							<div class="single-footer-widget newsletter">
								<h6>${properties.textcenter}</h6>
								<p>${properties.descriptioncenter}.</p>
								<div id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

										<div class="form-group row" style="width: 100%">
											<div class="col-lg-8 col-md-12">
												<input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
												<div style="position: absolute; left: -5000px;">
													<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
												</div>
											</div> 
										
											<div class="col-lg-4 col-md-12">
												<button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
											</div> 
										</div>		
										<div class="info"></div>
									</form>
								</div>		
							</div>
						</div>
						
												
					</div>
					
					
				</div>
			</footer>