
<section class=" relative" style="background-color:${properties.backgroundColor @ context='styleString'}" id="home">
				<div class="overlay-bg overlay" ></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center" style="height:654px;">
						<div class="banner-content col-lg-6 col-md-12">
							<h1 class="text-uppercase">
								${properties.title} <br>
								${properties.title1}<br>
												
							</h1>
							<p class="pb-20 text-white"  >
								${properties.description}
							 
							</p>
							<a href="#" class="primary-btn2 header-btn text-uppercase">${properties.button}</a>
						</div>
						<div class="col-lg-6">
							<img class="img-fluid" src="/etc/designs/wknd/clientlibs/img/header-img.png" alt="">
						</div>												
					</div>
				</div>
			</section>