	<section class="service-area section-gap" id="service">
				<div class="container" >
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">${properties.title}</h1>
								<p>${properties.description}.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-service">
								<span class="lnr lnr-magic-wand"></span>
								<h4 class="pt-60 pb-20">${properties.title1}</h4>
								<p>
									${properties.description1}
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-service">
								<span class="lnr lnr-rocket" ><img src="${image.src}"/></span>
								<h4 class="pt-60 pb-20">${properties.title2}</h4>
								<p>
									${properties.description2}
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-service">
								<span class="lnr lnr-bug"></span>
								<h4 class="pt-60 pb-20">${properties.title3}</h4>
								<p>
										${properties.description3}
								</p>
							</div>
						</div>												
					</div>
				</div>	
			</section>