<<!-- Start banner Area -->
			<section class=" relative" style="background-color:${properties.backgroundColor1 @ context='styleString'}" >			
				<div class="container" >
					<div class="row height align-items-center justify-content-center" style="height:590px;>
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">${properties.title}</h2>
								<p class="text-white">${properties.description}</p>
							</div>
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->